In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import KFold

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('max_columns', 300)

kfolds = KFold(n_splits=5, shuffle=True, random_state=345)

In [2]:
df = pd.read_csv('data/processed_men/training_data.csv')

df.head()

,Season,DayNum,Team1,Team2,target,target_points,T1_Loc,T2_Loc,ID,T1_Score,T1_FGM,T1_FGA,T1_FGM3,T1_FGA3,T1_FTM,T1_FTA,T1_OR,T1_DR,T1_Ast,T1_TO,T1_Stl,T1_Blk,T1_PF,T1_FGM2,T1_FGA2,T1_Tot_Reb,T1_FGM_no_ast,T1_possessions,T1_off_rating,T1_shtg_opportunity,T1_TO_perposs,T1_def_rating,T1_opp_shtg_opportunity,T1_opp_possessions,T1_opp_score,T1_opp_FTA,T1_opp_FGA,T1_impact,T1_DR_opportunity,T1_OR_opportunity,T1_Score_diff,T1_Score_advantage,T1_FGM_diff,T1_FGM_advantage,T1_FGA_diff,T1_FGA_advantage,T1_FGM3_diff,T1_FGM3_advantage,T1_FGA3_diff,T1_FGA3_advantage,T1_FTM_diff,T1_FTM_advantage,T1_FTA_diff,T1_FTA_advantage,T1_OR_diff,T1_OR_advantage,T1_DR_diff,T1_DR_advantage,T1_Ast_diff,T1_Ast_advantage,T1_TO_diff,T1_TO_advantage,T1_Stl_diff,T1_Stl_advantage,T1_Blk_diff,T1_Blk_advantage,T1_PF_diff,T1_PF_advantage,T1_FGM2_diff,T1_FGM2_advantage,T1_FGA2_diff,T1_FGA2_advantage,T1_Tot_Reb_diff,T1_Tot_Reb_advantage,T1_FGM_no_ast_diff,T1_FGM_no_ast_advantage,T1_DR_opportunity_diff,T1_DR_opportunity_advantage,T1_OR_opportunity_diff,T1_OR_opportunity_advantage,T1_possessions_diff,T1_possessions_advantage,T1_off_rating_diff,T1_off_rating_advantage,T1_def_rating_diff,T1_def_rating_advantage,T1_shtg_opportunity_diff,T1_shtg_opportunity_advantage,T1_TO_perposs_diff,T1_TO_perposs_advantage,T1_impact_diff,T1_impact_advantage,T1_True_shooting_perc_diff,T1_True_shooting_perc_advantage,T1_N_wins,T1_FGM_perc,T1_FGM2_perc,T1_FGM3_perc,T1_FT_perc,T1_FGM_no_ast_perc,T1_True_shooting_perc,T1_Opp_True_shooting_perc,T1_Seed,T2_Score,T2_FGM,T2_FGA,T2_FGM3,T2_FGA3,T2_FTM,T2_FTA,T2_OR,T2_DR,T2_Ast,T2_TO,T2_Stl,T2_Blk,T2_PF,T2_FGM2,T2_FGA2,T2_Tot_Reb,T2_FGM_no_ast,T2_possessions,T2_off_rating,T2_shtg_opportunity,T2_TO_perposs,T2_def_rating,T2_opp_shtg_opportunity,T2_opp_possessions,T2_opp_score,T2_opp_FTA,T2_opp_FGA,T2_impact,T2_DR_opportunity,T2_OR_opportunity,T2_Score_diff,T2_Score_advantage,T2_FGM_diff,T2_FGM_advantage,T2_FGA_diff,T2_FGA_advantage,T2_FGM3_diff,T2_FGM3_advantage,T2_FGA3_diff,T2_FGA3_advantage,T2_FTM_diff,T2_FTM_advantage,T2_FTA_diff,T2_FTA_advantage,T2_OR_diff,T2_OR_advantage,T2_DR_diff,T2_DR_advantage,T2_Ast_diff,T2_Ast_advantage,T2_TO_diff,T2_TO_advantage,T2_Stl_diff,T2_Stl_advantage,T2_Blk_diff,T2_Blk_advantage,T2_PF_diff,T2_PF_advantage,T2_FGM2_diff,T2_FGM2_advantage,T2_FGA2_diff,T2_FGA2_advantage,T2_Tot_Reb_diff,T2_Tot_Reb_advantage,T2_FGM_no_ast_diff,T2_FGM_no_ast_advantage,T2_DR_opportunity_diff,T2_DR_opportunity_advantage,T2_OR_opportunity_diff,T2_OR_opportunity_advantage,T2_possessions_diff,T2_possessions_advantage,T2_off_rating_diff,T2_off_rating_advantage,T2_def_rating_diff,T2_def_rating_advantage,T2_shtg_opportunity_diff,T2_shtg_opportunity_advantage,T2_TO_perposs_diff,T2_TO_perposs_advantage,T2_impact_diff,T2_impact_advantage,T2_True_shooting_perc_diff,T2_True_shooting_perc_advantage,T2_N_wins,T2_FGM_perc,T2_FGM2_perc,T2_FGM3_perc,T2_FT_perc,T2_FGM_no_ast_perc,T2_True_shooting_perc,T2_Opp_True_shooting_perc,T2_Seed,delta_Loc,delta_Score,delta_FGM,delta_FGA,delta_FGM3,delta_FGA3,delta_FTM,delta_FTA,delta_OR,delta_DR,delta_Ast,delta_TO,delta_Stl,delta_Blk,delta_PF,delta_FGM2,delta_FGA2,delta_Tot_Reb,delta_FGM_no_ast,delta_possessions,delta_off_rating,delta_shtg_opportunity,delta_TO_perposs,delta_def_rating,delta_opp_shtg_opportunity,delta_opp_possessions,delta_opp_score,delta_opp_FTA,delta_opp_FGA,delta_impact,delta_DR_opportunity,delta_OR_opportunity,delta_Score_diff,delta_Score_advantage,delta_FGM_diff,delta_FGM_advantage,delta_FGA_diff,delta_FGA_advantage,delta_FGM3_diff,delta_FGM3_advantage,delta_FGA3_diff,delta_FGA3_advantage,delta_FTM_diff,delta_FTM_advantage,delta_FTA_diff,delta_FTA_advantage,delta_OR_diff,delta_OR_advantage,delta_DR_diff,delta_DR_advantage,delta_Ast_diff,delta_Ast_advantage,delta_TO_diff,delta_TO_advantage,delta_Stl_diff,delta_Stl_advantage,delta_Blk_diff,delta_Blk_advantage,delta_PF_diff,delta_PF_advantage,delta_FGM2_diff,delta_FGM2_advantage,delta_FGA2_diff,delta_FGA2_advantage,delta_Tot_Reb_diff,delta_Tot_Reb_advantage,delta_FGM_no_ast_diff,delta_FGM_no_ast_advantage,delta_DR_opportunity_diff,delta_DR_opportunity_advantage,delta_OR_opportunity_diff,delta_OR_opportunity_advantage,delta_possessions_diff,delta_possessions_advantage,delta_off_rating_diff,delta_off_rating_advantage,delta_def_rating_diff,delta_def_rating_advantage,delta_shtg_opportunity_diff,delta_shtg_opportunity_advantage,delta_TO_perposs_diff,delta_TO_perposs_advantage,delta_impact_diff,delta_impact_advantage,delta_True_shooting_perc_diff,delta_True_shooting_perc_advantage,delta_N_wins,delta_FGM_perc,delta_FGM2_perc,delta_FGM3_perc,delta_FT_perc,delta_FGM_no_ast_perc,delta_True_shooting_perc,delta_Opp_True_shooting_perc,delta_Seed,delta_off_edge,delta_def_edge,stage_Round1,stage_Round2,stage_Round3,stage_Round4,stage_final,stage_finalfour
0,2003,136,1112,1436,1,29,0,0,2003_1112_1436,85.214286,30.321429,65.714286,7.035714,20.071429,17.535714,25.000000,15.178571,27.642857,17.642857,14.785714,8.464286,4.214286,17.750000,23.285714,45.642857,42.821429,12.678571,77.196429,110.623626,1.007430,0.190130,91.782211,0.955949,76.842857,70.250000,17.714286,64.678571,0.610487,0.724040,0.430264,14.964286,0.892857,3.964286,0.750000,1.035714,0.500000,0.714286,0.500000,0.107143,0.392857,6.321429,0.785714,7.285714,0.785714,2.071429,0.607143,4.357143,0.785714,2.178571,0.607143,-2.071429,0.321429,2.500000,0.678571,1.821429,0.678571,-4.321429,0.178571,3.250000,0.714286,0.928571,0.607143,6.428571,0.750000,1.785714,0.571429,0.060072,0.642857,0.088517,0.785714,0.353571,0.500000,18.841415,0.857143,-18.841415,0.142857,0.051481,0.714286,-0.027332,0.321429,0.220973,0.892857,0.070035,0.821429,0.892857,0.461413,0.510172,0.350534,0.701429,0.418139,0.549137,0.480553,1.0,67.793103,24.827586,55.862069,5.275862,15.482759,12.862069,19.551724,12.965517,25.724138,14.206897,14.068966,6.862069,2.965517,15.896552,19.551724,40.379310,38.689655,10.620690,66.252586,102.634717,0.984890,0.212863,95.798830,0.951796,65.968103,63.137931,15.758621,55.068966,0.551970,0.802653,0.428411,4.655172,0.655172,2.068966,0.517241,0.793103,0.482759,-1.793103,0.310345,-5.965517,0.172414,2.310345,0.586207,3.793103,0.689655,3.379310,0.758621,3.862069,0.620690,0.931034,0.517241,1.068966,0.517241,-0.241379,0.448276,-0.689655,0.413793,-2.034483,0.310345,3.862069,0.689655,6.758621,0.689655,7.241379,0.724138,1.137931,0.655172,0.103578,0.689655,0.135133,0.793103,0.284483,0.724138,6.835887,0.655172,-6.835887,0.344828,0.033093,0.551724,0.018707,0.551724,0.103940,0.655172,0.018265,0.620690,0.655172,0.444444,0.484202,0.340757,0.657848,0.427778,0.520292,0.504665,16.0,0,17.421182,5.493842,9.852217,1.759852,4.588670,4.673645,5.448276,2.213054,1.918719,3.435961,0.716749,1.602217,1.248768,1.853448,3.733990,5.263547,4.131773,2.057882,10.943842,7.988909,0.022540,-0.022733,-4.016619,0.004153,10.874754,7.112069,1.955665,9.609606,0.058517,-0.078613,0.001853,10.309113,0.237685,1.895320,0.232759,0.242611,0.017241,2.507389,0.189655,6.072660,0.220443,4.011084,0.199507,3.492611,0.096059,-1.307882,-0.151478,0.495074,0.165025,1.247537,0.089901,-3.140394,-0.195813,2.741379,0.230296,2.511084,0.264778,-2.286946,-0.131773,-0.612069,0.024631,-5.830049,-0.082512,-0.812808,0.025862,0.647783,-0.083744,-0.043506,-0.046798,-0.046616,-0.007389,0.069089,-0.224138,12.005528,0.201970,-12.005528,-0.201970,0.018388,0.162562,-0.046038,-0.230296,0.117033,0.237685,0.051771,0.200739,0.237685,0.016969,0.025971,0.009777,0.043580,-0.009639,0.028845,-0.024112,-15.0,14.824796,10.852506,1,0,0,0,0,0
1,2003,136,1113,1272,1,13,0,0,2003_1113_1272,75.965517,27.206897,56.896552,4.000000,12.586207,17.551724,26.206897,13.689655,23.310345,15.551724,14.000000,5.206897,4.241379,19.413793,23.206897,44.310345,37.000000,11.655172,69.655172,109.231055,0.996823,0.200649,98.751442,0.934791,69.918103,69.172414,20.517241,55.655172,0.555831,0.764390,0.470811,6.793103,0.620690,2.413793,0.586207,1.241379,0.482759,-1.448276,0.241379,-3.310345,0.206897,3.413793,0.655172,5.689655,0.758621,2.689655,0.689655,2.758621,0.724138,1.482759,0.586207,-1.517241,0.413793,-0.793103,0.413793,0.310345,0.482759,-3.448276,0.241379,3.862069,0.724138,4.551724,0.724138,5.448276,0.620690,0.931034,0.482759,0.064969,0.689655,0.117569,0.689655,-0.262931,0.517241,10.479613,0.586207,-10.479613,0.413793,0.062032,0.655172,-0.022059,0.379310,0.111663,0.620690,0.020413,0.551724,0.620690,0.478182,0.523735,0.317808,0.669737,0.428390,0.547737,0.528834,10.0,74.517241,26.275862,60.000000,7.000000,20.068966,14.965517,22.896552,14.068966,25.965517,16.620690,13.793103,7.379310,5.068966,18.758621,19.275862,39.931034,40.034483,9.655172,70.600000,105.494080,1.006173,0.194125,93.399277,0.963031,70.430172,65.827586,20.724138,57.862069,0.569044,0.765180,0.412877,8.689655,0.793103,3.000000,0.655172,2.137931,0.586207,1.103448,0.551724,1.758621,0.551724,1.586207,0.620690,2.172414,0.551724,1.724138,0.689655,2.379310,0.655172,3.310345,0.689655,-1.275862,0.413793,0.103448,0.586207,1.896552,0.689655,-1.172414,0.413793,1.896552,0.689655,0.379310,0.551724,4.103448,0.724138,-0.310345,0.448276,0.053118,0.724138,0.058867,0.620690,0.169828,0.620690,12.094803,0.793103,-12.094803,0.206897,0.043141,0.655172,-0.019137,0.413793,0.138087,0.793103,0.040515,0.620690,0.793103,0.437931,0.482729,0.348797,0.653614,0.367454,0.525688,0.486128,7.0,0,1.448276,0.931034,-3.103448,-3.000000,-7.482759,2.586207,3.310345,-0.379310,-2.655172,-1.068966,0.206897,-2.172414,-0.827586,0.655172,3.931034,4.379310,-3.034483,2.000000,-0.944828,3.736976,-0.009350,0.006524,5.352166,-0.028240,-0.512069,3.344828,-0.206897,-2.206897,-0.013212,-0.000790,0.057934,-1.896552,-0.172414,-0.586207,-0.068966,-0.896552,-0.103448,-2.551724,-0.310345,-5.068966,-0.344828,1.827586,0.034483,3.517241,0.206897,0.965517,0.000000,0.379310,0.068966,-1.827586,-0.103448,-0.241379,0.000000,-0.896552,-0.172414,-1.586207,-0.206897,-2.275862,-0.172414,1.965517,0.034483,4.172414,0.172414,1.344828,-0.103448,1.241379,0.034483,0.011851,-0.034483,0.058702,0.068966,-0.432759,-0.103448,-1.615190,-0.206897,1.615190,0.206897,0.018891,0.000000,-0.002922,-0.034483,-0.026424,-0.172414,-0.020102,-0.068966,-0.172414,0.040251,0.041007,-0.030989,0.016122,0.060936,0.022049,0.042706,3.0,15.831779,6.742637,1,0,0,0,0,0
2,2003,136,1141,1166,1,6,0,0,2003_1141_1166,79.344828,26.620690,52.689655,6.827586,17.931034,19.275862,25.172414,10.586207,23.275862,15.620690,18.241379,7.103448,4.000000,20.965517,19.793103,34.758621,33.862069,11.000000,72.301724,109.557599,0.893594,0.252913,101.383016,0.946938,72.192241,73.241379,21.965517,57.931034,0.563786,0.752266,0.406714,6.103448,0.793103,0.275862,0.551724,-5.241379,0.310345,1.862069,0.655172,4.034483,0.724138,3.689655,0.655172,3.206897,0.517241,-1.655172,0.275862,4.379310,0.724138,3.827586,0.724138,2.172414,0.620690,-1.344828,0.344828,1.517241,0.689655,-0.724138,0.413793,-1.586207,0.448276,-9.275862,0.172414,2.724138,0.724138,-3.551724,0.275862,0.023430,0.655172,0.026256,0.586207,0.109483,0.517241,8.174583,0.793103,-8.174583,0.206897,-0.053344,0.379310,0.030547,0.689655,0.127571,0.793103,0.076236,0.758621,0.793103,0.505236,0.569444,0.380769,0.765753,0.413212,0.613682,0.535667,11.0,79.242424,28.696970,57.454545,7.969697,20.484848,13.878788,20.030303,10.878788,23.181818,16.818182,13.363636,8.393939,4.454545,17.272727,20.727273,36.969697,34.060606,11.878788,69.453788,113.823692,0.966046,0.192564,93.090241,0.915920,69.264394,64.333333,16.696970,55.333333,0.596778,0.744973,0.381168,14.909091,0.878788,4.818182,0.666667,2.121212,0.575758,3.090909,0.757576,6.181818,0.848485,2.181818,0.606061,3.333333,0.575758,-0.181818,0.393939,1.818182,0.575758,4.454545,0.787879,-3.696970,0.181818,2.060606,0.757576,1.878788,0.696970,-2.121212,0.212121,1.727273,0.636364,-4.060606,0.303030,1.636364,0.575758,0.363636,0.515152,-0.001515,0.515152,0.034504,0.484848,0.189394,0.515152,20.733452,0.848485,-20.733452,0.151515,0.050126,0.727273,-0.051657,0.242424,0.193557,0.878788,0.081903,0.818182,0.878788,0.499473,0.560656,0.389053,0.692890,0.413939,0.591636,0.508448,6.0,0,0.102403,-2.076280,-4.764890,-1.142111,-2.553814,5.397074,5.142111,-0.292581,0.094044,-1.197492,4.877743,-1.290491,-0.454545,3.692790,-0.934169,-2.211076,-0.198537,-0.878788,2.847936,-4.266093,-0.072452,0.060349,8.292775,0.031018,2.927847,8.908046,5.268548,2.597701,-0.032993,0.007293,0.025546,-8.805643,-0.085684,-4.542320,-0.114943,-7.362591,-0.265413,-1.228840,-0.102403,-2.147335,-0.124347,1.507837,0.049112,-0.126437,-0.058516,-1.473354,-0.118077,2.561129,0.148380,-0.626959,-0.063741,5.869383,0.438871,-3.405434,-0.412748,-0.361546,-0.007315,1.397074,0.201672,-3.313480,-0.188088,-5.215256,-0.130617,1.087774,0.148380,-3.915361,-0.239289,0.024945,0.140021,-0.008249,0.101358,-0.079911,0.002090,-12.558869,-0.055381,12.558869,0.055381,-0.103470,-0.347962,0.082204,0.447231,-0.065986,-0.085684,-0.005666,-0.059561,-0.085684,0.005763,0.008789,-0.008284,0.072864,-0.000726,0.022046,0.027219,5.0,16.467359,12.440676,1,0,0,0,0,0
3,2003,136,1143,1301,1,2,0,0,2003_1143_1301,74.482759,27.344828,58.724138,6.413793,17.034483,13.379310,19.517241,11.241379,24.379310,16.000000,14.172414,6.551724,2.793103,17.103448,20.931034,41.689655,35.620690,11.344828,70.925862,105.227022,0.961538,0.198374,98.708830,0.947828,70.839655,69.758621,17.448276,58.793103,0.540047,0.736381,0.353136,4.724138,0.724138,1.965517,0.655172,-0.068966,0.517241,-0.689655,0.413793,-4.413793,0.344828,1.482759,0.586207,2.068966,0.551724,0.068966,0.482759,1.379310,0.586207,-0.034483,0.482759,-0.758621,0.275862,0.620690,0.620690,0.275862,0.482759,-2.000000,0.275862,2.655172,0.655172,4.344828,0.586207,1.448276,0.620690,2.000000,0.724138,-0.006878,0.517241,0.023902,0.586207,0.086207,0.517241,6.518192,0.724138,-6.518192,0.275862,0.013710,0.586207,-0.011821,0.344828,0.080094,0.724138,0.027228,0.724138,0.724138,0.465649,0.502068,0.376518,0.685512,0.414880,0.547709,0.519958,8.0,72.400000,24.333333,53.333333,7.966667,22.500000,15.766667,20.466667,9.733333,22.033333,14.666667,14.200000,7.766667,3.066667,18.666667,16.366667,30.833333,31.766667,9.666667,67.521667,107.202846,0.935349,0.209940,101.027518,0.940647,67.303333,68.000000,21.200000,53.133333,0.530770,0.755463,0.332344,4.400000,0.600000,0.900000,0.433333,0.200000,0.500000,2.233333,0.700000,5.500000,0.666667,0.366667,0.533333,-0.733333,0.500000,-0.800000,0.466667,0.600000,0.633333,2.100000,0.600000,-0.433333,0.400000,0.333333,0.466667,0.233333,0.433333,-0.666667,0.466667,-1.333333,0.466667,-5.300000,0.366667,-0.200000,0.566667,-1.200000,0.366667,0.010325,0.566667,-0.017130,0.600000,0.218333,0.533333,6.175328,0.600000,-6.175328,0.400000,-0.005298,0.500000,-0.008062,0.366667,0.061540,0.600000,0.035821,0.666667,0.600000,0.456250,0.530811,0.354074,0.770358,0.397260,0.574102,0.537946,9.0,0,2.082759,3.011494,5.390805,-1.552874,-5.465517,-2.387356,-0.949425,1.508046,2.345977,1.333333,-0.027586,-1.214943,-0.273563,-1.563218,4.564368,10.856322,3.854023,1.678161,3.404195,-1.975824,0.026189,-0.011567,-2.318688,0.007181,3.536322,1.758621,-3.751724,5.659770,0.009277,-0.019082,0.020793,0.324138,0.124138,1.065517,0.221839,-0.268966,0.017241,-2.922989,-0.286207,-9.913793,-0.321839,1.116092,0.052874,2.802299,0.051724,0.868966,0.016092,0.779310,-0.047126,-2.134483,-0.117241,-0.325287,-0.124138,0.287356,0.154023,0.042529,0.049425,-1.333333,-0.190805,3.988506,0.188506,9.644828,0.219540,1.648276,0.054023,3.200000,0.357471,-0.017203,-0.049425,0.041032,-0.013793,-0.132126,-0.016092,0.342864,0.124138,-0.342864,-0.124138,0.019008,0.086207,-0.003759,-0.021839,0.018553,0.124138,-0.008593,0.057471,0.124138,0.009399,-0.028743,0.022444,-0.084846,0.017620,-0.026393,-0.017988,-1.0,4.199504,8.494016,1,0,0,0,0,0
4,2003,136,1140,1163,0,-5,0,0,2003_1140_1163,72.451613,24.032258,51.258065,6.193548,16.129032,18.193548,24.161290,10.870968,24.419355,13.419355,13.741935,6.935484,2.516129,21.419355,17.838710,35.129032,35.290323,10.612903,65.605645,110.682260,0.956705,0.209738,95.473409,0.938477,66.477419,63.677419,23.483871,51.258065,0.596858,0.810832,0.397073,8.774194,0.741935,3.064516,0.645161,0.000000,0.483871,1.193548,0.516129,-0.096774,0.451613,1.451613,0.548387,0.677419,0.451613,0.451613,0.483871,4.225806,0.677419,2.645161,0.612903,-0.741935,0.322581,1.451613,0.516129,0.290323,0.612903,0.032258,0.483871,1.870968,0.612903,0.096774,0.548387,4.677419,0.741935,0.419355,0.516129,0.056233,0.580645,0.048973,0.677419,-0.871774,0.322581,15.208851,0.741935,-15.208851,0.258065,0.018228,0.580645,-0.008348,0.451613,0.193717,0.741935,0.070456,0.741935,0.741935,0.468848,0.507805,0.384000,0.753004,0.441611,0.577445,0.510130,12.0,80.033333,29.533333,62.200000,6.066667,15.700000,14.900000,22.100000,14.766667,27.900000,15.633333,15.800000,5.933333,7.733333,18.400000,23.466667,46.500000,42.666667,13.900000,73.730833,108.188313,0.983657,0.215606,97.384110,1.029666,73.375000,71.400000,21.000000,65.366667,0.580058,0.697289,0.450860,8.633333,0.700000,4.666667,0.666667,-3.166667,0.333333,-0.366667,0.433333,-4.433333,0.166667,-0.333333,0.433333,1.100000,0.566667,-0.566667,0.466667,6.400000,0.766667,2.033333,0.666667,2.433333,0.733333,-1.866667,0.333333,3.600000,0.833333,-0.866667,0.500000,5.033333,0.766667,1.266667,0.533333,5.833333,0.733333,2.633333,0.633333,0.031333,0.533333,0.076294,0.766667,0.355833,0.600000,10.804204,0.700000,-10.804204,0.300000,-0.046009,0.433333,0.033304,0.766667,0.160117,0.766667,0.074981,0.766667,0.700000,0.474812,0.504659,0.386412,0.674208,0.470655,0.550455,0.473841,5.0,0,-7.581720,-5.501075,-10.941935,0.126882,0.429032,3.293548,2.061290,-3.895699,-3.480645,-2.213978,-2.058065,1.002151,-5.217204,3.019355,-5.627957,-11.370968,-7.376344,-3.287097,-8.125188,2.493947,-0.026952,-0.005868,-1.910700,-0.091188,-6.897581,-7.722581,2.483871,-14.108602,0.016800,0.113543,-0.053787,0.140860,0.041935,-1.602151,-0.021505,3.166667,0.150538,1.560215,0.082796,4.336559,0.284946,1.784946,0.115054,-0.422581,-0.115054,1.018280,0.017204,-2.174194,-0.089247,0.611828,-0.053763,-3.175269,-0.410753,3.318280,0.182796,-3.309677,-0.220430,0.898925,-0.016129,-3.162366,-0.153763,-1.169892,0.015054,-1.155914,0.008602,-2.213978,-0.117204,0.024900,0.047312,-0.027321,-0.089247,-1.227608,-0.277419,4.404648,0.041935,-4.404648,-0.041935,0.064236,0.147312,-0.041652,-0.315054,0.033600,-0.024731,-0.004525,-0.024731,0.041935,-0.005964,0.003146,-0.002412,0.078796,-0.029044,0.026990,0.036289,7.0,13.298151,12.714904,1,0,0,0,0,0

In [3]:
ranks = pd.read_csv('data/raw_men/MDataFiles_Stage1/MMasseyOrdinals.csv')

ranks.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [4]:
ranks.SystemName.nunique()

174

In [6]:
ranks.groupby(['Season', 'SystemName']).OrdinalRank.agg(['min', 'max', 'mean']).describe()

         min         max        mean
count  945.0  945.000000  945.000000
mean     1.0  324.065608  162.367317
std      0.0   77.445005   38.736448
min      1.0   25.000000   12.978947
25%      1.0  336.000000  168.500000
50%      1.0  347.000000  174.000000
75%      1.0  351.000000  176.000000
max      1.0  353.000000  177.000000

In [13]:
tmp = ranks.groupby(['Season', 'SystemName']).OrdinalRank.agg(['min', 'max', 'mean']).reset_index()

tmp[tmp['max'] < 300].SystemName.unique()

array(['AP', 'USA', 'DES', 'LYN', 'ACU', 'TRX', 'D1A', 'JNG', 'BNT'],
      dtype=object)

In [17]:
ranks = ranks[~(ranks.SystemName.isin(['AP', 'USA', 'DES', 'LYN', 'ACU', 'TRX', 'D1A', 'JNG', 'BNT']))].copy()

ranks.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [19]:
ranks.groupby(['Season', 'SystemName']).OrdinalRank.agg(['min', 'max', 'mean']).describe()

         min         max        mean
count  869.0  869.000000  869.000000
mean     1.0  344.845800  172.780662
std      0.0    8.063925    4.110886
min      1.0  324.000000  159.988095
25%      1.0  341.000000  171.000000
50%      1.0  347.000000  174.000000
75%      1.0  351.000000  176.000000
max      1.0  353.000000  177.000000

In [30]:
regular_season = 'data/raw_men/MDataFiles_Stage1/MRegularSeasonDetailedResults.csv'

reg = pd.read_csv(regular_season)

reg.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,3,14,11,18,14,24,13,23,7,1,22,22,53,2,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,8,20,10,19,15,28,16,13,4,4,18,24,67,6,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,8,18,17,29,17,26,15,10,5,2,25,22,73,3,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,3,9,17,31,6,19,11,12,14,2,18,18,49,6,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,6,14,11,13,17,22,12,14,4,4,20,24,62,6,16,17,27,21,15,12,10,7,1,14

In [31]:
mean_ranks = ranks.groupby(['Season', 'TeamID', 'RankingDayNum'], as_index=False).OrdinalRank.mean()

mean_ranks.sample(10)

        Season  TeamID  RankingDayNum  OrdinalRank
29838     2004    1425             43   138.700000
27924     2004    1386             91     2.407407
83939     2008    1251             79   203.000000
153401    2012    1201            106   194.733333
195275    2015    1359             30   288.923077
169128    2013    1160             84    38.052632
3878      2003    1194             69   259.000000
178530    2013    1351            128   163.700000
59835     2006    1355            127   268.500000
79499     2008    1155            121    23.000000

In [32]:
reg = pd.merge(reg, mean_ranks.rename(columns={'TeamID': 'WTeamID', 
                                                'RankingDayNum':'DayNum', 
                                                'OrdinalRank': 'WRank'}), 
                on=['Season', 'WTeamID', 'DayNum'], how='left')

reg = pd.merge(reg, mean_ranks.rename(columns={'TeamID': 'LTeamID', 
                                                'RankingDayNum':'DayNum', 
                                                'OrdinalRank': 'LRank'}), 
                on=['Season', 'LTeamID', 'DayNum'], how='left')

reg = reg.fillna(1000)

reg.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,WRank,LRank
0,2003,10,1104,68,1328,62,N,0,27,58,3,14,11,18,14,24,13,23,7,1,22,22,53,2,10,16,22,10,22,8,18,9,2,20,1000.0,1000.0
1,2003,10,1272,70,1393,63,N,0,26,62,8,20,10,19,15,28,16,13,4,4,18,24,67,6,24,9,20,20,25,7,12,8,6,16,1000.0,1000.0
2,2003,11,1266,73,1437,61,N,0,24,58,8,18,17,29,17,26,15,10,5,2,25,22,73,3,26,14,23,31,22,9,12,2,5,23,1000.0,1000.0
3,2003,11,1296,56,1457,50,N,0,18,38,3,9,17,31,6,19,11,12,14,2,18,18,49,6,22,8,15,17,20,9,19,4,3,23,1000.0,1000.0
4,2003,11,1400,77,1208,71,N,0,30,61,6,14,11,13,17,22,12,14,4,4,20,24,62,6,16,17,27,21,15,12,10,7,1,14,1000.0,1000.0

In [37]:
reg['top_team_win'] = 0
reg.loc[reg.LRank <= 30, 'top_team_win'] = 1

reg.top_team_win.mean()

0.010788078259279577

In [41]:
reg['upset'] = 0
reg.loc[reg.WRank - reg.LRank > 15, 'upset'] = 1

reg.upset.mean()

0.05493463155970013

In [42]:
reg['WAway'] = 0
reg.loc[reg.WLoc!='H', 'WAway'] = 1

reg.WAway.mean()

0.4077413603949534

In [44]:
ot_wins = reg[['Season', 'WTeamID', 'NumOT']].copy()

ot_wins['has_OT'] = np.where(ot_wins.NumOT > 0, 1, 0)
ot_wins['OT_win'] = np.where(ot_wins.has_OT > 0, 1, 0)

ot_wins.head()

   Season  WTeamID  NumOT  has_OT  OT_win
0    2003     1104      0       0       0
1    2003     1272      0       0       0
2    2003     1266      0       0       0
3    2003     1296      0       0       0
4    2003     1400      0       0       0

In [45]:
ot_wins = ot_wins.groupby(['Season', 'WTeamID', 'has_OT'], as_index=False).OT_win.mean()

ot_wins.sample(10)

      Season  WTeamID  has_OT  OT_win
7745    2017     1222       0       0
2635    2008     1153       1       1
8237    2018     1170       0       0
892     2004     1391       0       0
8807    2019     1202       0       0
8527    2018     1351       0       0
583     2004     1162       1       1
2624    2008     1145       0       0
1252    2005     1281       1       1
6085    2014     1256       1       1

In [47]:
ot_wins[ot_wins.has_OT==1].describe()

            Season      WTeamID  has_OT  OT_win
count  3246.000000  3246.000000  3246.0  3246.0
mean   2010.879544  1285.123537     1.0     1.0
std       4.582337   104.431833     0.0     0.0
min    2003.000000  1101.000000     1.0     1.0
25%    2007.000000  1196.000000     1.0     1.0
50%    2011.000000  1282.500000     1.0     1.0
75%    2015.000000  1377.000000     1.0     1.0
max    2019.000000  1464.000000     1.0     1.0