In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import KFold

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('max_columns', 300)

kfolds = KFold(n_splits=5, shuffle=True, random_state=345)

In [2]:
df = pd.read_csv('data/processed_men/training_data.csv')

df.head()

,Season,DayNum,Team1,Team2,target,target_points,T1_Loc,T2_Loc,ID,T1_Ast,T1_Ast_advantage,T1_Ast_diff,T1_Away,T1_Blk,T1_Blk_advantage,T1_Blk_diff,T1_DR,T1_DR_advantage,T1_DR_diff,T1_DR_opportunity,T1_DR_opportunity_advantage,T1_DR_opportunity_diff,T1_FGA,T1_FGA2,T1_FGA2_advantage,T1_FGA2_diff,T1_FGA3,T1_FGA3_advantage,T1_FGA3_diff,T1_FGA_advantage,T1_FGA_diff,T1_FGM,T1_FGM2,T1_FGM2_advantage,T1_FGM2_diff,T1_FGM3,T1_FGM3_advantage,T1_FGM3_diff,T1_FGM_advantage,T1_FGM_diff,T1_FGM_no_ast,T1_FGM_no_ast_advantage,T1_FGM_no_ast_diff,T1_FTA,T1_FTA_advantage,T1_FTA_diff,T1_FTM,T1_FTM_advantage,T1_FTM_diff,T1_N_wins,T1_OR,T1_OR_advantage,T1_OR_diff,T1_OR_opportunity,T1_OR_opportunity_advantage,T1_OR_opportunity_diff,T1_OT_win,T1_PF,T1_PF_advantage,T1_PF_diff,T1_Score,T1_Score_advantage,T1_Score_diff,T1_Stl,T1_Stl_advantage,T1_Stl_diff,T1_TO,T1_TO_advantage,T1_TO_diff,T1_TO_perposs,T1_TO_perposs_advantage,T1_TO_perposs_diff,T1_Tot_Reb,T1_Tot_Reb_advantage,T1_Tot_Reb_diff,T1_True_shooting_perc_advantage,T1_True_shooting_perc_diff,T1_def_rating,T1_def_rating_advantage,T1_def_rating_diff,T1_impact,T1_impact_advantage,T1_impact_diff,T1_off_rating,T1_off_rating_advantage,T1_off_rating_diff,T1_opp_FGA,T1_opp_FTA,T1_opp_possessions,T1_opp_score,T1_opp_shtg_opportunity,T1_possessions,T1_possessions_advantage,T1_possessions_diff,T1_shtg_opportunity,T1_shtg_opportunity_advantage,T1_shtg_opportunity_diff,T1_top_team,T1_upset,T1_FGM_perc,T1_FGM2_perc,T1_FGM3_perc,T1_FT_perc,T1_FGM_no_ast_perc,T1_True_shooting_perc,T1_Opp_True_shooting_perc,T1_OT_win_perc,T1_Seed,T1_Rank,T2_Ast,T2_Ast_advantage,T2_Ast_diff,T2_Away,T2_Blk,T2_Blk_advantage,T2_Blk_diff,T2_DR,T2_DR_advantage,T2_DR_diff,T2_DR_opportunity,T2_DR_opportunity_advantage,T2_DR_opportunity_diff,T2_FGA,T2_FGA2,T2_FGA2_advantage,T2_FGA2_diff,T2_FGA3,T2_FGA3_advantage,T2_FGA3_diff,T2_FGA_advantage,T2_FGA_diff,T2_FGM,T2_FGM2,T2_FGM2_advantage,T2_FGM2_diff,T2_FGM3,T2_FGM3_advantage,T2_FGM3_diff,T2_FGM_advantage,T2_FGM_diff,T2_FGM_no_ast,T2_FGM_no_ast_advantage,T2_FGM_no_ast_diff,T2_FTA,T2_FTA_advantage,T2_FTA_diff,T2_FTM,T2_FTM_advantage,T2_FTM_diff,T2_N_wins,...,T2_TO_diff,T2_TO_perposs,T2_TO_perposs_advantage,T2_TO_perposs_diff,T2_Tot_Reb,T2_Tot_Reb_advantage,T2_Tot_Reb_diff,T2_True_shooting_perc_advantage,T2_True_shooting_perc_diff,T2_def_rating,T2_def_rating_advantage,T2_def_rating_diff,T2_impact,T2_impact_advantage,T2_impact_diff,T2_off_rating,T2_off_rating_advantage,T2_off_rating_diff,T2_opp_FGA,T2_opp_FTA,T2_opp_possessions,T2_opp_score,T2_opp_shtg_opportunity,T2_possessions,T2_possessions_advantage,T2_possessions_diff,T2_shtg_opportunity,T2_shtg_opportunity_advantage,T2_shtg_opportunity_diff,T2_top_team,T2_upset,T2_FGM_perc,T2_FGM2_perc,T2_FGM3_perc,T2_FT_perc,T2_FGM_no_ast_perc,T2_True_shooting_perc,T2_Opp_True_shooting_perc,T2_OT_win_perc,T2_Seed,T2_Rank,delta_Loc,delta_Ast,delta_Ast_advantage,delta_Ast_diff,delta_Away,delta_Blk,delta_Blk_advantage,delta_Blk_diff,delta_DR,delta_DR_advantage,delta_DR_diff,delta_DR_opportunity,delta_DR_opportunity_advantage,delta_DR_opportunity_diff,delta_FGA,delta_FGA2,delta_FGA2_advantage,delta_FGA2_diff,delta_FGA3,delta_FGA3_advantage,delta_FGA3_diff,delta_FGA_advantage,delta_FGA_diff,delta_FGM,delta_FGM2,delta_FGM2_advantage,delta_FGM2_diff,delta_FGM3,delta_FGM3_advantage,delta_FGM3_diff,delta_FGM_advantage,delta_FGM_diff,delta_FGM_no_ast,delta_FGM_no_ast_advantage,delta_FGM_no_ast_diff,delta_FTA,delta_FTA_advantage,delta_FTA_diff,delta_FTM,delta_FTM_advantage,delta_FTM_diff,delta_N_wins,delta_OR,delta_OR_advantage,delta_OR_diff,delta_OR_opportunity,delta_OR_opportunity_advantage,delta_OR_opportunity_diff,delta_OT_win,delta_PF,delta_PF_advantage,delta_PF_diff,delta_Score,delta_Score_advantage,delta_Score_diff,delta_Stl,delta_Stl_advantage,delta_Stl_diff,delta_TO,delta_TO_advantage,delta_TO_diff,delta_TO_perposs,delta_TO_perposs_advantage,delta_TO_perposs_diff,delta_Tot_Reb,delta_Tot_Reb_advantage,delta_Tot_Reb_diff,delta_True_shooting_perc_advantage,delta_True_shooting_perc_diff,delta_def_rating,delta_def_rating_advantage,delta_def_rating_diff,delta_impact,delta_impact_advantage,delta_impact_diff,delta_off_rating,delta_off_rating_advantage,delta_off_rating_diff,delta_opp_FGA,delta_opp_FTA,delta_opp_possessions,delta_opp_score,delta_opp_shtg_opportunity,delta_possessions,delta_possessions_advantage,delta_possessions_diff,delta_shtg_opportunity,delta_shtg_opportunity_advantage,delta_shtg_opportunity_diff,delta_top_team,delta_upset,delta_FGM_perc,delta_FGM2_perc,delta_FGM3_perc,delta_FT_perc,delta_FGM_no_ast_perc,delta_True_shooting_perc,delta_Opp_True_shooting_perc,delta_OT_win_perc,delta_Seed,delta_Rank,delta_off_edge,delta_def_edge,stage_Round1,stage_Round2,stage_Round3,stage_Round4,stage_final,stage_finalfour
0,2003,136,1112,1436,1,29,0,0,2003_1112_1436,17.642857,0.607143,2.178571,0.392857,4.214286,0.678571,1.821429,27.642857,0.785714,4.357143,0.724040,0.642857,0.060072,65.714286,45.642857,0.607143,0.928571,20.071429,0.392857,0.107143,0.500000,1.035714,30.321429,23.285714,0.714286,3.250000,7.035714,0.500000,0.714286,0.750000,3.964286,12.678571,0.571429,1.785714,25.000000,0.785714,7.285714,17.535714,0.785714,6.321429,0.892857,15.178571,0.607143,2.071429,0.430264,0.785714,0.088517,0.035714,17.750000,0.178571,-4.321429,85.214286,0.892857,14.964286,8.464286,0.678571,2.500000,14.785714,0.321429,-2.071429,0.190130,0.321429,-0.027332,42.821429,0.750000,6.428571,0.821429,0.070035,91.782211,0.142857,-18.841415,0.610487,0.892857,0.220973,110.623626,0.857143,18.841415,64.678571,17.714286,76.842857,70.250000,0.955949,77.196429,0.500000,0.353571,1.007430,0.714286,0.051481,0.035714,0.000000,0.461413,0.510172,0.350534,0.701429,0.418139,0.549137,0.480553,0.500000,1.0,2.71875,14.206897,0.517241,0.931034,0.344828,2.965517,0.413793,-0.689655,25.724138,0.620690,3.862069,0.802653,0.689655,0.103578,55.862069,40.379310,0.689655,6.758621,15.482759,0.172414,-5.965517,0.482759,0.793103,24.827586,19.551724,0.689655,3.862069,5.275862,0.310345,-1.793103,0.517241,2.068966,10.620690,0.655172,1.137931,19.551724,0.689655,3.793103,12.862069,0.586207,2.310345,0.655172,...,1.068966,0.212863,0.551724,0.018707,38.689655,0.724138,7.241379,0.620690,0.018265,95.798830,0.344828,-6.835887,0.551970,0.655172,0.103940,102.634717,0.655172,6.835887,55.068966,15.758621,65.968103,63.137931,0.951796,66.252586,0.724138,0.284483,0.984890,0.551724,0.033093,0.000000,0.000000,0.444444,0.484202,0.340757,0.657848,0.427778,0.520292,0.504665,0.0,16.0,153.12500,0,3.435961,0.089901,1.247537,0.048030,1.248768,0.264778,2.511084,1.918719,0.165025,0.495074,-0.078613,-0.046798,-0.043506,9.852217,5.263547,-0.082512,-5.830049,4.588670,0.220443,6.072660,0.017241,0.242611,5.493842,3.733990,0.024631,-0.612069,1.759852,0.189655,2.507389,0.232759,1.895320,2.057882,-0.083744,0.647783,5.448276,0.096059,3.492611,4.673645,0.199507,4.011084,0.237685,2.213054,-0.151478,-1.307882,0.001853,-0.007389,-0.046616,0.035714,1.853448,-0.131773,-2.286946,17.421182,0.237685,10.309113,1.602217,0.230296,2.741379,0.716749,-0.195813,-3.140394,-0.022733,-0.230296,-0.046038,4.131773,0.025862,-0.812808,0.200739,0.051771,-4.016619,-0.201970,-12.005528,0.058517,0.237685,0.117033,7.988909,0.201970,12.005528,9.609606,1.955665,10.874754,7.112069,0.004153,10.943842,-0.224138,0.069089,0.022540,0.162562,0.018388,0.035714,0.000000,0.016969,0.025971,0.009777,0.043580,-0.009639,0.028845,-0.024112,0.500000,-15.0,-150.40625,14.824796,10.852506,1,0,0,0,0,0
1,2003,136,1113,1272,1,13,0,0,2003_1113_1272,15.551724,0.586207,1.482759,0.206897,4.241379,0.482759,0.310345,23.310345,0.724138,2.758621,0.764390,0.689655,0.064969,56.896552,44.310345,0.724138,4.551724,12.586207,0.206897,-3.310345,0.482759,1.241379,27.206897,23.206897,0.724138,3.862069,4.000000,0.241379,-1.448276,0.586207,2.413793,11.655172,0.482759,0.931034,26.206897,0.758621,5.689655,17.551724,0.655172,3.413793,0.620690,13.689655,0.689655,2.689655,0.470811,0.689655,0.117569,0.068966,19.413793,0.241379,-3.448276,75.965517,0.620690,6.793103,5.206897,0.413793,-0.793103,14.000000,0.413793,-1.517241,0.200649,0.379310,-0.022059,37.000000,0.620690,5.448276,0.551724,0.020413,98.751442,0.413793,-10.479613,0.555831,0.620690,0.111663,109.231055,0.586207,10.479613,55.655172,20.517241,69.918103,69.172414,0.934791,69.655172,0.517241,-0.262931,0.996823,0.655172,0.062032,0.000000,0.000000,0.478182,0.523735,0.317808,0.669737,0.428390,0.547737,0.528834,1.000000,10.0,36.00000,16.620690,0.689655,3.310345,0.310345,5.068966,0.689655,1.896552,25.965517,0.655172,2.379310,0.765180,0.724138,0.053118,60.000000,39.931034,0.551724,0.379310,20.068966,0.551724,1.758621,0.586207,2.137931,26.275862,19.275862,0.689655,1.896552,7.000000,0.551724,1.103448,0.655172,3.000000,9.655172,0.448276,-0.310345,22.896552,0.551724,2.172414,14.965517,0.620690,1.586207,0.793103,...,-1.275862,0.194125,0.413793,-0.019137,40.034483,0.724138,4.103448,0.620690,0.040515,93.399277,0.206897,-12.094803,0.569044,0.793103,0.138087,105.494080,0.793103,12.094803,57.862069,20.724138,70.430172,65.827586,0.963031,70.600000,0.620690,0.169828,1.006173,0.655172,0.043141,0.034483,0.034483,0.437931,0.482729,0.348797,0.653614,0.367454,0.525688,0.486128,0.0,7.0,21.78125,0,-1.068966,-0.103448,-1.827586,-0.103448,-0.827586,-0.206897,-1.586207,-2.655172,0.068966,0.379310,-0.000790,-0.034483,0.011851,-3.103448,4.379310,0.172414,4.172414,-7.482759,-0.344828,-5.068966,-0.103448,-0.896552,0.931034,3.931034,0.034483,1.965517,-3.000000,-0.310345,-2.551724,-0.068966,-0.586207,2.000000,0.034483,1.241379,3.310345,0.206897,3.517241,2.586207,0.034483,1.827586,-0.172414,-0.379310,0.000000,0.965517,0.057934,0.068966,0.058702,0.068966,0.655172,-0.172414,-2.275862,1.448276,-0.172414,-1.896552,-2.172414,-0.172414,-0.896552,0.206897,0.000000,-0.241379,0.006524,-0.034483,-0.002922,-3.034483,-0.103448,1.344828,-0.068966,-0.020102,5.352166,0.206897,1.615190,-0.013212,-0.172414,-0.026424,3.736976,-0.206897,-1.615190,-2.206897,-0.206897,-0.512069,3.344828,-0.028240,-0.944828,-0.103448,-0.432759,-0.009350,0.000000,0.018891,-0.034483,-0.034483,0.040251,0.041007,-0.030989,0.016122,0.060936,0.022049,0.042706,1.000000,3.0,14.21875,15.831779,6.742637,1,0,0,0,0,0
2,2003,136,1141,1166,1,6,0,0,2003_1141_1166,15.620690,0.724138,3.827586,0.413793,4.000000,0.689655,1.517241,23.275862,0.724138,4.379310,0.752266,0.655172,0.023430,52.689655,34.758621,0.172414,-9.275862,17.931034,0.724138,4.034483,0.310345,-5.241379,26.620690,19.793103,0.448276,-1.586207,6.827586,0.655172,1.862069,0.551724,0.275862,11.000000,0.275862,-3.551724,25.172414,0.517241,3.206897,19.275862,0.655172,3.689655,0.793103,10.586207,0.275862,-1.655172,0.406714,0.586207,0.026256,0.000000,20.965517,0.413793,-0.724138,79.344828,0.793103,6.103448,7.103448,0.344828,-1.344828,18.241379,0.620690,2.172414,0.252913,0.689655,0.030547,33.862069,0.724138,2.724138,0.758621,0.076236,101.383016,0.206897,-8.174583,0.563786,0.793103,0.127571,109.557599,0.793103,8.174583,57.931034,21.965517,72.192241,73.241379,0.946938,72.301724,0.517241,0.109483,0.893594,0.379310,-0.053344,0.000000,0.068966,0.505236,0.569444,0.380769,0.765753,0.413212,0.613682,0.535667,0.000000,11.0,45.68750,16.818182,0.787879,4.454545,0.363636,4.454545,0.696970,1.878788,23.181818,0.575758,1.818182,0.744973,0.515152,-0.001515,57.454545,36.969697,0.303030,-4.060606,20.484848,0.848485,6.181818,0.575758,2.121212,28.696970,20.727273,0.636364,1.727273,7.969697,0.757576,3.090909,0.666667,4.818182,11.878788,0.515152,0.363636,20.030303,0.575758,3.333333,13.878788,0.606061,2.181818,0.878788,...,-3.696970,0.192564,0.242424,-0.051657,34.060606,0.575758,1.636364,0.818182,0.081903,93.090241,0.151515,-20.733452,0.596778,0.878788,0.193557,113.823692,0.848485,20.733452,55.333333,16.696970,69.264394,64.333333,0.915920,69.453788,0.515152,0.189394,0.966046,0.727273,0.050126,0.000000,0.000000,0.499473,0.560656,0.389053,0.692890,0.413939,0.591636,0.508448,1.0,6.0,21.09375,0,-1.197492,-0.063741,-0.626959,0.050157,-0.454545,-0.007315,-0.361546,0.094044,0.148380,2.561129,0.007293,0.140021,0.024945,-4.764890,-2.211076,-0.130617,-5.215256,-2.553814,-0.124347,-2.147335,-0.265413,-7.362591,-2.076280,-0.934169,-0.188088,-3.313480,-1.142111,-0.102403,-1.228840,-0.114943,-4.542320,-0.878788,-0.239289,-3.915361,5.142111,-0.058516,-0.126437,5.397074,0.049112,1.507837,-0.085684,-0.292581,-0.118077,-1.473354,0.025546,0.101358,-0.008249,-0.030303,3.692790,0.201672,1.397074,0.102403,-0.085684,-8.805643,-1.290491,-0.412748,-3.405434,4.877743,0.438871,5.869383,0.060349,0.447231,0.082204,-0.198537,0.148380,1.087774,-0.059561,-0.005666,8.292775,0.055381,12.558869,-0.032993,-0.085684,-0.065986,-4.266093,-0.055381,-12.558869,2.597701,5.268548,2.927847,8.908046,0.031018,2.847936,0.002090,-0.079911,-0.072452,-0.347962,-0.103470,0.000000,0.068966,0.005763,0.008789,-0.008284,0.072864,-0.000726,0.022046,0.027219,-1.000000,5.0,24.59375,16.467359,12.440676,1,0,0,0,0,0
3,2003,136,1143,1301,1,2,0,0,2003_1143_1301,16.000000,0.482759,-0.034483,0.275862,2.793103,0.482759,0.275862,24.379310,0.586207,1.379310,0.736381,0.517241,-0.006878,58.724138,41.689655,0.586207,4.344828,17.034483,0.344828,-4.413793,0.517241,-0.068966,27.344828,20.931034,0.655172,2.655172,6.413793,0.413793,-0.689655,0.655172,1.965517,11.344828,0.724138,2.000000,19.517241,0.551724,2.068966,13.379310,0.586207,1.482759,0.724138,11.241379,0.482759,0.068966,0.353136,0.586207,0.023902,0.034483,17.103448,0.275862,-2.000000,74.482759,0.724138,4.724138,6.551724,0.620690,0.620690,14.172414,0.275862,-0.758621,0.198374,0.344828,-0.011821,35.620690,0.620690,1.448276,0.724138,0.027228,98.708830,0.275862,-6.518192,0.540047,0.724138,0.080094,105.227022,0.724138,6.518192,58.793103,17.448276,70.839655,69.758621,0.947828,70.925862,0.517241,0.086207,0.961538,0.586207,0.013710,0.000000,0.000000,0.465649,0.502068,0.376518,0.685512,0.414880,0.547709,0.519958,0.333333,8.0,36.40625,14.666667,0.600000,2.100000,0.166667,3.066667,0.433333,0.233333,22.033333,0.633333,0.600000,0.755463,0.566667,0.010325,53.333333,30.833333,0.366667,-5.300000,22.500000,0.666667,5.500000,0.500000,0.200000,24.333333,16.366667,0.466667,-1.333333,7.966667,0.700000,2.233333,0.433333,0.900000,9.666667,0.366667,-1.200000,20.466667,0.500000,-0.733333,15.766667,0.533333,0.366667,0.600000,...,-0.433333,0.209940,0.366667,-0.008062,31.766667,0.566667,-0.200000,0.666667,0.035821,101.027518,0.400000,-6.175328,0.530770,0.600000,0.061540,107.202846,0.600000,6.175328,53.133333,21.200000,67.303333,68.000000,0.940647,67.521667,0.533333,0.218333,0.935349,0.500000,-0.005298,0.033333,0.100000,0.456250,0.530811,0.354074,0.770358,0.397260,0.574102,0.537946,1.0,9.0,50.31250,0,1.333333,-0.117241,-2.134483,0.109195,-0.273563,0.049425,0.042529,2.345977,-0.047126,0.779310,-0.019082,-0.049425,-0.017203,5.390805,10.856322,0.219540,9.644828,-5.465517,-0.321839,-9.913793,0.017241,-0.268966,3.011494,4.564368,0.188506,3.988506,-1.552874,-0.286207,-2.922989,0.221839,1.065517,1.678161,0.357471,3.200000,-0.949425,0.051724,2.802299,-2.387356,0.052874,1.116092,0.124138,1.508046,0.016092,0.868966,0.020793,-0.013793,0.041032,0.001149,-1.563218,-0.190805,-1.333333,2.082759,0.124138,0.324138,-1.214943,0.154023,0.287356,-0.027586,-0.124138,-0.325287,-0.011567,-0.021839,-0.003759,3.854023,0.054023,1.648276,0.057471,-0.008593,-2.318688,-0.124138,-0.342864,0.009277,0.124138,0.018553,-1.975824,0.124138,0.342864,5.659770,-3.751724,3.536322,1.758621,0.007181,3.404195,-0.016092,-0.132126,0.026189,0.086207,0.019008,-0.033333,-0.100000,0.009399,-0.028743,0.022444,-0.084846,0.017620,-0.026393,-0.017988,-0.666667,-1.0,-13.90625,4.199504,8.494016,1,0,0,0,0,0
4,2003,136,1140,1163,0,-5,0,0,2003_1140_1163,13.419355,0.612903,2.645161,0.322581,2.516129,0.612903,0.290323,24.419355,0.677419,4.225806,0.810832,0.580645,0.056233,51.258065,35.129032,0.548387,0.096774,16.129032,0.451613,-0.096774,0.483871,0.000000,24.032258,17.838710,0.612903,1.870968,6.193548,0.516129,1.193548,0.645161,3.064516,10.612903,0.516129,0.419355,24.161290,0.451613,0.677419,18.193548,0.548387,1.451613,0.741935,10.870968,0.483871,0.451613,0.397073,0.677419,0.048973,0.000000,21.419355,0.483871,0.032258,72.451613,0.741935,8.774194,6.935484,0.516129,1.451613,13.741935,0.322581,-0.741935,0.209738,0.451613,-0.008348,35.290323,0.741935,4.677419,0.741935,0.070456,95.473409,0.258065,-15.208851,0.596858,0.741935,0.193717,110.682260,0.741935,15.208851,51.258065,23.483871,66.477419,63.677419,0.938477,65.605645,0.322581,-0.871774,0.956705,0.580645,0.018228,0.000000,0.000000,0.468848,0.507805,0.384000,0.753004,0.441611,0.577445,0.510130,0.000000,12.0,28.59375,15.633333,0.666667,2.033333,0.233333,7.733333,0.833333,3.600000,27.900000,0.766667,6.400000,0.697289,0.533333,0.031333,62.200000,46.500000,0.533333,1.266667,15.700000,0.166667,-4.433333,0.333333,-3.166667,29.533333,23.466667,0.766667,5.033333,6.066667,0.433333,-0.366667,0.666667,4.666667,13.900000,0.633333,2.633333,22.100000,0.566667,1.100000,14.900000,0.433333,-0.333333,0.700000,...,2.433333,0.215606,0.766667,0.033304,42.666667,0.733333,5.833333,0.766667,0.074981,97.384110,0.300000,-10.804204,0.580058,0.766667,0.160117,108.188313,0.700000,10.804204,65.366667,21.000000,73.375000,71.400000,1.029666,73.730833,0.600000,0.355833,0.983657,0.433333,-0.046009,0.066667,0.066667,0.474812,0.504659,0.386412,0.674208,0.470655,0.550455,0.473841,1.0,5.0,27.75000,0,-2.213978,-0.053763,0.611828,0.089247,-5.217204,-0.220430,-3.309677,-3.480645,-0.089247,-2.174194,0.113543,0.047312,0.024900,-10.941935,-11.370968,0.015054,-1.169892,0.429032,0.284946,4.336559,0.150538,3.166667,-5.501075,-5.627957,-0.153763,-3.162366,0.126882,0.082796,1.560215,-0.021505,-1.602151,-3.287097,-0.117204,-2.213978,2.061290,-0.115054,-0.422581,3.293548,0.115054,1.784946,0.041935,-3.895699,0.017204,1.018280,-0.053787,-0.089247,-0.027321,-0.033333,3.019355,-0.016129,0.898925,-7.581720,0.041935,0.140860,1.002151,0.182796,3.318280,-2.058065,-0.410753,-3.175269,-0.005868,-0.315054,-0.041652,-7.376344,0.008602,-1.155914,-0.024731,-0.004525,-1.910700,-0.041935,-4.404648,0.016800,-0.024731,0.033600,2.493947,0.041935,4.404648,-14.108602,2.483871,-6.897581,-7.722581,-0.091188,-8.125188,-0.277419,-1.227608,-0.026952,0.147312,0.064236,-0.066667,-0.066667,-0.005964,0.003146,-0.002412,0.078796,-0.029044,0.026990,0.036289,-1.000000,7.0,0.84375,13.298151,12.714904,1,0,0,0,0,0

In [3]:
ranks = pd.read_csv('data/raw_men/MDataFiles_Stage2/MMasseyOrdinals.csv')

ranks.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [4]:
ranks.SystemName.nunique()

179

In [5]:
ranks.groupby(['Season', 'SystemName']).OrdinalRank.agg(['min', 'max', 'mean']).describe()

          min          max         mean
count  1013.0  1013.000000  1013.000000
mean      1.0   325.027641   162.856192
std       0.0    76.887084    38.459526
min       1.0    25.000000    12.978947
25%       1.0   341.000000   170.239316
50%       1.0   347.000000   174.000000
75%       1.0   351.000000   176.000000
max       1.0   353.000000   177.000000

In [6]:
tmp = ranks.groupby(['Season', 'SystemName']).OrdinalRank.agg(['min', 'max', 'mean']).reset_index()

tmp[tmp['max'] < 300].SystemName.unique()

array(['AP', 'USA', 'DES', 'LYN', 'ACU', 'TRX', 'D1A', 'JNG', 'BNT'],
      dtype=object)

In [7]:
ranks = ranks[~(ranks.SystemName.isin(['AP', 'USA', 'DES', 'LYN', 'ACU', 'TRX', 'D1A', 'JNG', 'BNT']))].copy()

ranks.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [8]:
ranks.groupby(['Season', 'SystemName']).OrdinalRank.agg(['min', 'max', 'mean']).describe()

         min         max        mean
count  932.0  932.000000  932.000000
mean     1.0  345.386266  173.057840
std      0.0    8.046518    4.105360
min      1.0  324.000000  159.988095
25%      1.0  343.000000  171.675758
50%      1.0  347.000000  174.000000
75%      1.0  351.000000  176.000000
max      1.0  353.000000  177.000000

In [9]:
regular_season = 'data/raw_men/MDataFiles_Stage2/MRegularSeasonDetailedResults.csv'

reg = pd.read_csv(regular_season)

reg.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,3,14,11,18,14,24,13,23,7,1,22,22,53,2,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,8,20,10,19,15,28,16,13,4,4,18,24,67,6,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,8,18,17,29,17,26,15,10,5,2,25,22,73,3,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,3,9,17,31,6,19,11,12,14,2,18,18,49,6,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,6,14,11,13,17,22,12,14,4,4,20,24,62,6,16,17,27,21,15,12,10,7,1,14

In [10]:
mean_ranks = ranks.groupby(['Season', 'TeamID', 'RankingDayNum'], as_index=False).OrdinalRank.mean()

mean_ranks.sample(10)

        Season  TeamID  RankingDayNum  OrdinalRank
120013    2010    1257             77    43.533333
187544    2014    1287             30   143.481481
132070    2011    1135             79   240.153846
98057     2009    1186             64   187.857143
100590    2009    1237             70   189.000000
49684     2006    1122            114   170.157895
147462    2011    1442             79   295.230769
76367     2007    1442            113   316.850000
18929     2004    1185             52   243.000000
181124    2013    1402            113   285.714286

In [11]:
reg = pd.merge(reg, mean_ranks.rename(columns={'TeamID': 'WTeamID', 
                                                'RankingDayNum':'DayNum', 
                                                'OrdinalRank': 'WRank'}), 
                on=['Season', 'WTeamID', 'DayNum'], how='left')

reg = pd.merge(reg, mean_ranks.rename(columns={'TeamID': 'LTeamID', 
                                                'RankingDayNum':'DayNum', 
                                                'OrdinalRank': 'LRank'}), 
                on=['Season', 'LTeamID', 'DayNum'], how='left')

reg = reg.fillna(1000)

reg.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,WRank,LRank
0,2003,10,1104,68,1328,62,N,0,27,58,3,14,11,18,14,24,13,23,7,1,22,22,53,2,10,16,22,10,22,8,18,9,2,20,1000.0,1000.0
1,2003,10,1272,70,1393,63,N,0,26,62,8,20,10,19,15,28,16,13,4,4,18,24,67,6,24,9,20,20,25,7,12,8,6,16,1000.0,1000.0
2,2003,11,1266,73,1437,61,N,0,24,58,8,18,17,29,17,26,15,10,5,2,25,22,73,3,26,14,23,31,22,9,12,2,5,23,1000.0,1000.0
3,2003,11,1296,56,1457,50,N,0,18,38,3,9,17,31,6,19,11,12,14,2,18,18,49,6,22,8,15,17,20,9,19,4,3,23,1000.0,1000.0
4,2003,11,1400,77,1208,71,N,0,30,61,6,14,11,13,17,22,12,14,4,4,20,24,62,6,16,17,27,21,15,12,10,7,1,14,1000.0,1000.0

In [12]:
reg['top_team_win'] = 0
reg.loc[reg.LRank <= 30, 'top_team_win'] = 1

reg.top_team_win.mean()

0.010492071699413996

In [13]:
reg['upset'] = 0
reg.loc[reg.WRank - reg.LRank > 15, 'upset'] = 1

reg.upset.mean()

0.053602206135815234

In [14]:
reg['WAway'] = 0
reg.loc[reg.WLoc!='H', 'WAway'] = 1

reg.WAway.mean()

0.4071764046880386

In [15]:
ot_wins = reg[['Season', 'WTeamID', 'NumOT']].copy()

ot_wins['has_OT'] = np.where(ot_wins.NumOT > 0, 1, 0)
ot_wins['OT_win'] = np.where(ot_wins.has_OT > 0, 1, 0)

ot_wins.head()

   Season  WTeamID  NumOT  has_OT  OT_win
0    2003     1104      0       0       0
1    2003     1272      0       0       0
2    2003     1266      0       0       0
3    2003     1296      0       0       0
4    2003     1400      0       0       0

In [16]:
ot_wins = ot_wins.groupby(['Season', 'WTeamID', 'has_OT'], as_index=False).OT_win.mean()

ot_wins.sample(10)

      Season  WTeamID  has_OT  OT_win
1387    2005     1388       1       1
9570    2020     1425       0       0
9342    2020     1272       1       1
9289    2020     1241       0       0
2788    2008     1252       0       0
4696    2011     1423       0       0
8548    2018     1364       0       0
9133    2020     1142       1       1
9421    2020     1325       0       0
6633    2015     1235       0       0

In [17]:
ot_wins[ot_wins.has_OT==1].describe()

            Season      WTeamID  has_OT  OT_win
count  3457.000000  3457.000000  3457.0  3457.0
mean   2011.436216  1285.100376     1.0     1.0
std       4.948174   104.592239     0.0     0.0
min    2003.000000  1101.000000     1.0     1.0
25%    2007.000000  1196.000000     1.0     1.0
50%    2012.000000  1282.000000     1.0     1.0
75%    2016.000000  1377.000000     1.0     1.0
max    2020.000000  1467.000000     1.0     1.0